.strength-bar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 10px;
  padding: 0;

  &__point {
    flex: 0 1 32%;
    background: #DDD;
    border-radius: 2px;
    height: 5px;

    &:last-of-type {
      margin: 0;
    }
  }
}
